$black: #000;
$white: #fff;
$basic-gray-90: #262626;
$basic-gray-80: #3b3b3b;
$basic-gray-60: #6a6a6a;
$basic-gray-50: #848484;
$basic-gray-40: #9e9e9e;
$basic-gray-30: #b9b9b9;
$basic-gray-20: #d4d4d4;
$basic-gray-10: #f1f1f1;
$basic-gray-5: #f9f9f9;

$gray-100: #0e1114;
$gray-95: #181c20;
$gray-90: #21262b;
$gray-80: #353c43;
$gray-70: #4a545c;
$gray-60: #616c76;
$gray-50: #778592;
$gray-40: #8fa0af;
$gray-30: #abbbc9;
$gray-20: #cdd5de;
$gray-10: #eef1f4;
$gray-5: #f8f9fa;

$blue-100: #021125;
$blue-95: #041c39;
$blue-90: #062647;
$blue-80: #0c3c6c;
$blue-70: #0f5493;
$blue-60: #0d6cbd;
$blue-50: #0086ea;
$blue-40: #53a0ff;
$blue-30: #91baff;
$blue-20: #c0d5ff;
$blue-10: #e8f2fe;
$blue-5: #f6fafe;

$green-100: #001503;
$green-90: #002d01;
$green-80: #04460b;
$green-70: #0e601f;
$green-60: #157b2f;
$green-50: #1d9745;
$green-40: #24b553;
$green-30: #2cd463;
$green-20: #5eef88;
$green-10: #c6fed0;

$icon-primary: #0e1114;
$icon-action: #616c76;
$icon-info: #8fa0af;
$icon-white: #fff;
$icon-white-on-color: #fff;

$system-error: #fe2836;
$system-success: #1d9745;
$system-info: #0086ea;
$system-warning: #c89600;
$system-error-light: #ffeced;
$system-success-light: #c6fed0;
$system-info-light: #e8f2fe;
$system-warning-light: #ffefd4;

$disabled-primary: #9e9e9e;
$disabled-border: #d4d4d4;
$disabled-tertiary: #f9f9f9;

$text-title: #0e1114;
$text-primary: #0e1114;
$text-secondary: #616c76;
$text-tertiary: #a7adb2;
$text-white: #fff;
$text-white-on-color: #fff;
