@import "../../globalStyles/variables.scss";

.messageContainer {
  display: flex;
  flex-direction: column;

  .messageText {
    display: block;
    margin-left: auto;
    margin-bottom: 0;
    max-width: 480px;
    background-color: $system-info-light;
    padding: 16px;
    border-radius: 16px 16px 0px 16px;
  }

  .messageTime {
    margin: 0;
    display: block;
    margin-left: auto;
    color: $text-secondary;
    font-size: 12px;
  }
}
