.chatBarContainer {
  max-width: 320px;
  width: 100%;
  height: 100%;
  height: 100vh;

  box-shadow: 6px 0px 16px 0px rgba(2, 17, 37, 0.04),
    2px 0px 8px 0px rgba(2, 17, 37, 0.04), 0px 0px 4px 0px rgba(2, 17, 37, 0.04);
  .chats {
    overflow-y: scroll;
    height: calc(100vh - 60px);
  }
}
